@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    width:calc(100% - 1200px);
    margin: auto;
    position: relative;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--secFont);
}
:root{
    --mainColer:#FB2E86;
    --mainFont :"Lato", sans-serif;
    --secFont :"Josefin Sans", serif;
}
body{
    font-family: var(--mainFont);
}


.row{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

} 
nav a{
    display: flex;
    gap: 35px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

@media screen and (max-width: 768px)
{
    .container{
        width:100%;
    }

}

@media screen and (max-width: 1440px){
    .container{
        width:calc(100% - 300px);
    }
}
@media screen and (max-width: 1024px)
{
    .container{
        width:calc(100% - 220px);
    }
}